.auth-form {
  margin-top: 25vh;

  .form-container {
    background-color: #FFF;
    border-radius: 7px;
    padding: 16px;
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid #D8D8D8;
    -webkit-box-shadow: 6px 7px 6px -2px rgba(0,0,0,0.09);
    -moz-box-shadow: 6px 7px 6px -2px rgba(0,0,0,0.09);
    box-shadow: 6px 7px 6px -2px rgba(0,0,0,0.09);

    .form-group {
      margin-bottom: 10px;
    }

    .form-btn {
      margin-bottom: 20px;
    }

    .bottom-form-section {
      border-top: 1px solid #D8D8D8;
      padding: 10px;

      .info-text {
        margin-right: 5px;
      }
    }
  }
}