.timeline-container {
  border-top: 2px solid black;
  position: relative;
  flex-wrap: nowrap;
  overflow-x: scroll;

  .timeline-card {
    flex: 0 0 auto;
    position: relative;
  }
}

.timeline-container,
.card-deck-container {
  display: flex;
  justify-content: center;
  height: 300px;

  .card-deck,
  .timeline-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3EAC8;
    max-width: 200px;
    margin: 0px 5px;
    padding: 16px;
    height: calc(100% - 40px);
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
}

