.board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .timeline-container {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    overflow-x: scroll;
  
    .timeline-card {
      flex-direction: column;
      justify-content: space-evenly;
      flex: 0 0 auto;
      position: relative;
      margin: 10px 5px;
    }
  }
  
  .card-deck-container {
    margin: 20px 0px 20px 60%;

    .card-deck {
      justify-content: center;
    }
  }
  
  .timeline-container,
  .card-deck-container {
    height: 300px;
    width: 100%;
  
    .card-deck,
    .timeline-card {
      display: flex;
      align-items: center;
      background-color: #F3EAC8;
      max-width: 200px;
      padding: 16px;
      height: calc(100% - 40px);
      border-radius: 4px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
  }
}


